// Configuracion global de Nextflow

params {
    outdir       = "results"
    test_data    = "workflow/test_data"
}

profiles {
    standard   { includeConfig 'conf/base.config' }
    docker     { includeConfig 'conf/docker.config' }
    singularity{ includeConfig 'conf/singularity.config' }
}

manifest {
    name        = 'pdac-er-immune-atlas'
    description = 'Pipeline reproducible - estructura base'
    version     = '0.1.0'
}
